#chronos {
  min-height: 67vh;
  margin: 2% 5% 7% 5%;
  padding: 2% 10%;
  background-color: rgb(212 232 212);
}
#chrono{
  display: flex;
  justify-content: left;
  background-color: rgb(212 232 212);
}
#chrono * {
  margin: 2%;
}
